.error{
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
	position: relative;
    padding: .20rem 1rem;
    margin-bottom: 0.2rem;
    border: 1px solid transparent;
    border-radius: .25rem;
	width: 100%;
	display: block;
}

select[readonly] {
  background: #eee; 
  pointer-events: none;
  touch-action: none;
}

.obrigatorio{
    color: red;
    margin-left: 3px;
}

#calendario-mes,#calendario-ano{
    font-size: 20px;
}

.floatLeft{
    float: left;
}

.floatRight{
    float:right;
}

.fa-info-circle{
    cursor: pointer;
    color: rgb(0, 123, 255);
}

.marginBotton{
    margin-bottom: 15px;
}

.marginTop{
    margin-top: 10px;
}

.bigMarginTop{
    padding-top: 5px;
    margin-top: 20px;
}

.marginIcon{
    margin-right: 5px;
}

#logout_link{
    color: black;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

/* Efeito pisca - pisca*/
@keyframes fa-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }    
}

/* Efeito pisca - pisca*/
.pisca_pisca{
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
}

/* PERSONALIZA A DATA (HOJE) NO CALENDÁRIO */
.calendarHoje{
    background-color: #F90;
}

/* Rodapé */
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

section.section{
    margin-bottom: 100px;
}